E-shopping/Api/.vs/
E-shopping/Api/JsDesenvolvimento.Eshopping.Api.Authentication/bin/
E-shopping/Api/JsDesenvolvimento.Eshopping.Api.Authentication/obj/
E-shopping/Api/JsDesenvolvimento.Eshopping.Api.Data/bin/
E-shopping/Api/JsDesenvolvimento.Eshopping.Api.Data/obj/
E-shopping/Api/JsDesenvolvimento.Eshopping.Api.Logic/bin/
E-shopping/Api/JsDesenvolvimento.Eshopping.Api.Logic/obj/
E-shopping/Api/JsDesenvolvimento.Eshopping.Api.Rest/bin/
E-shopping/Api/JsDesenvolvimento.Eshopping.Api.Rest/obj/
Documentação/Diagramas/
